.job-post-form {
    width: 90vw;
    margin: 0 auto;
}

.job-post-form h2 {
    margin: 12px 0 24px 0;
    font-size: 24px;
}

.job-post-form label {
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 18px;
    display: block;
}

.form-group-small select,
.form-group-small input {
    width: 300px;
    height: 40px;
    padding: 0 14px;
    border: 2px solid #cbcbcb;
    border-radius: 2px;
    box-sizing: border-box;
    appearance: none;
}

.form-group input{
    width: 100%;
    height: 40px;
    padding: 0 14px;
    border: 2px solid #cbcbcb;
    border-radius: 2px;
    box-sizing: border-box;
}

.job-post-form button {
    width: 300px;
    height: 48px;
    margin-top: 36px;
    border: none;
    border-radius: 4px;
    background-color: #449bd3;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
}

.job-post-form button:hover {
    background-color: #378cc0;
}